---
import BaseLayoutPageVide from '../layouts/BaseLayoutPageVide.astro';
const pageTitle = "A propos de moi";
---
<BaseLayoutPageVide pageTitle={pageTitle}>
  <div>
      
      <h2>A styliser</h2>
  </div>
</BaseLayoutPageVide>