---
import BaseLayoutPageVide from '../layouts/BaseLayoutPageVide.astro';
const pageTitle = "A propos de moi";
---
<BaseLayoutPageVide pageTitle={pageTitle}>
  <div>
    <div class="container mx-auto">
      <div class="mx-3 sm:mx-6 md:mx-12 p-3 sm:p-6 md:p-12 ">
        <div class="flex flex-col gap-6">
      <h2 class="text-sky-900 w-full text-xl sm:text-3xl font-bold leading-tight">A propos de moi</h2>
      <p>
        Je m'appelle Denis, 47 ans, et souhaite me lancer dans un domaine que je n'ai pas encore expérimenté, à savoir le 
        développement informatique.
      </p>
      <p>
        Depuis tout petit, j'ai toujours voulu créer des choses mais la vie ne nous laisse pas forcément l'opportunité.
      </p>
      <p>
        Après différents métiers, il est temps pour moi de m'y mettre et j'ai hâte de savoir où cela va me mener !
      </p>
      <p>
        Quand je me sentirai assez à l'aise, je rajouterai une rubbrique projet.
      </p>


        </div>
      </div>
    </div>
  </div>
</BaseLayoutPageVide>