---
import Header from '../components/Header.astro';
import Footerpagevide from '../components/Footerpagevide.astro';
const pageTitle = "Contactez-moi";
---
<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-slate-50">
    <Header />
    <div class="py-20">
        <h1>{pageTitle}</h1>
        <h2>Partie contact</h2>
    </div>
    <Footerpagevide />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>