---
import BaseLayoutPageVide from '../layouts/BaseLayoutPageVide.astro';
const pageTitle = "Contactez-moi";
---
<BaseLayoutPageVide pageTitle={pageTitle}>
  <div>
      
      <h2>Partie contact</h2>

  </div>
</BaseLayoutPageVide>