---
import Form from '../components/Form.astro';
import BaseLayoutPageVide from '../layouts/BaseLayoutPageVide.astro';
const pageTitle = "Contact";
---
<BaseLayoutPageVide pageTitle={pageTitle}>
    <div class="prose prose-lg mt-6 mx-auto max-w-[800px]">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique repudiandae repellendus velit dolor, nulla pariatur consectetur quos eligendi laborum expedita totam sequi, cum adipisci fuga tempore eum praesentium suscipit amet ex. Modi iusto, nam veniam consequuntur libero ex amet. Veritatis rerum quasi, veniam eaque, totam dicta officiis beatae natus a adipisci incidunt at fugiat ea? Assumenda optio eos illo unde, sapiente placeat obcaecati fugit nostrum provident fugiat quisquam beatae sit delectus maiores numquam iure sunt. Accusamus corrupti deleniti asperiores voluptate doloremque quasi saepe ad? Provident nam impedit quibusdam et aut praesentium facere. Odit mollitia explicabo vel consectetur sequi earum. Error.
    </div>
</BaseLayoutPageVide>