---
import BaseLayoutPageVide from '../layouts/BaseLayoutPageVide.astro';
import config from "@config/config.json";
// import { getEntryBySlug } from 'astro:content';

// const entry = await getEntryBySlug("pages", "contact");
const { contact_form_action } = config.params;
---
<BaseLayoutPageVide>
  <section class="p-6">
    <form action={contact_form_action} method="POST" class="bg-slate-100 container w-full max-w-xl p-8 mx-auto space-y-6 rounded-md shadow ng-untouched ng-pristine ng-valid">
      <h2 class="text-sky-900 w-full text-xl sm:text-3xl font-bold leading-tight">Contactez-moi</h2>
      <div>
        <label class="block mb-1 ml-1">Nom</label>
        <input type="text" name="username" placeholder="Votre nom" required="" class="block w-full p-2 rounded focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-violet-400">
      </div>
      <div>
        <label class="block mb-1 ml-1">Email</label>
        <input type="email" name="email" placeholder="Votre email" required="" class="block w-full p-2 rounded focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-violet-400">
      </div>
      <div>
        <label class="block mb-1 ml-1">Message</label>
        <textarea name="message" placeholder="Message..." class="block w-full p-2 rounded autoexpand focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-violet-400"></textarea>
      </div>
      <div>
        <button type="submit" class="bg-slate-200 w-full px-4 py-2 font-bold text-sky-800 rounded shadow focus:outline-none focus:ring hover:ring focus:ring-opacity-50 focus:ring-blue-500 hover:ring-blue-500 hover:text-indigo-700">Send</button>
      </div>
    </form>
    <?php
    if (isset($_POST['message'])) {
        $retour = mail('xxx', 'Envoi depuis la page Contact', $_POST['message'], 'From: webmaster@monsite.fr' . "\r\n" . 'Reply-to: ' . $_POST['email']);
        if($retour)
            echo '<p>Votre message a bien été envoyé.</p>';
    }
    ?>
  </section>
</BaseLayoutPageVide>