---
import BaseLayoutPagePleine from '../layouts/BaseLayoutPagePleine.astro';
import Blogpost from '../components/Blogpost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))
const pageTitle = "Accueil";
import Imagedesktop from '../components/Imagedesktop.astro';
import Imagemobile from '../components/Imagemobile.astro';
---
<BaseLayoutPagePleine pageTitle={pageTitle}>
	<div class="w-full h-auto overflow-hidden">
    <Imagedesktop />
    <Imagemobile />
</div>

<h1 class="text-xs sm:text-sm text-gray-400">
  Itinéraire d'un débutant en reconversion dans le développement
</h1>
<section>
  <div class="bg-slate-50 py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Blog</h2>
    
        <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
      </div>
    <!-- text - end -->
  
      <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-2 xl:grid-cols-2 xl:gap-8">
      {allPosts.map((post) => <Blogpost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate.slice(0,10)} image={post.frontmatter.image.url} />)}
      </div>
    </div>
  </div>
</section>	
</BaseLayoutPagePleine>