---
import BaseLayoutPagePleine from '../layouts/BaseLayoutPagePleine.astro';
const pageTitle = "Accueil";

---
<BaseLayoutPagePleine pageTitle={pageTitle}>
    <div class="relative w-full h-auto overflow-hidden">
        <img src="/img/mountaindesktop.png" alt="Route de montagne" class="hidden md:block">
        <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 -translate-y-1/4 text-white text-center">
          <div class="text-3xl lg:text-4xl xl:text-5xl font-medium">
            Itinéraire d'un débutant
          </div>
          <div class="text-xs lg:text-sm xl:text-base font-medium">
            en reconversion dans le développement
          </div>
        </div>
    </div>

<section>
    <div class="bg-slate-50 py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <!-- text - start -->
        <div class="mb-10 md:mb-16">
          <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Blog</h2>
      
          <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
        </div>
    </div>
</section>