---
import Header from '../components/Header.astro';
const pageTitle = "Mes skills";
---
<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-slate-50">
    <Header />
    <div class="py-20">
        <h1>{pageTitle}</h1>
        <h2>Faire une progress bar</h2>
    </div>    
  </body>
</html>