---
import BaseLayoutPageVide from '../layouts/BaseLayoutPageVide.astro';
const pageTitle = "Mes skills";
---
<BaseLayoutPageVide pageTitle={pageTitle}>
    <div>
      
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
      <h2>Faire une progress bar</h2>
    </div>
</BaseLayoutPagePleine>