<section class="p-6">
    <form method="post" action="https://forms.un-static.com/forms/77c1c13a91d099a464c55312c199ad905b306652" class="bg-slate-100 container w-full max-w-xl p-8 mx-auto space-y-6 rounded-md shadow ng-untouched ng-pristine ng-valid">
      <h2 class="text-sky-900 w-full text-xl sm:text-3xl font-bold leading-tight">Contactez-moi</h2>
      <div>
        <label for="name" class="block mb-1 ml-1">Nom</label>
        <input id="name" type="text" name="name" placeholder="Entrez votre nom" required autocomplete="on" class="block w-full p-2 rounded focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-violet-400">
      </div>
      <div>
        <label for="email" class="block mb-1 ml-1">Email</label>
        <input id="email" type="email" name="email" placeholder="Entrez votre email" required autocomplete="on" class="block w-full p-2 rounded focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-violet-400">
      </div>
      <div>
        <label for="message" class="block mb-1 ml-1">Message</label>
        <textarea id="message" name="message" placeholder="Message..." class="block w-full p-2 rounded autoexpand focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-violet-400"></textarea>
      </div>
      <button type="submit" class="bg-slate-200 w-full px-4 py-2 font-bold text-sky-800 rounded shadow focus:outline-none focus:ring hover:ring focus:ring-opacity-50 focus:ring-blue-200 hover:ring-blue-200 hover:text-indigo-700">Envoyer</button>
    </form>
  </section>