<div class="block md:hidden">
  <button class="hamburger rounded p-2 ps-10 text-gray-600 transition hover:text-gray-600/75 inline-flex align-middle mt-1 ">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
      >
      <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
      />
      </svg>
  </button>
  <div class="hidden w-full md:flex md:items-center md:w-auto mobile-menu">
      <ul class="text-base text-gray-700 pt-4 justify-end md:flex md:justify-between md:pt-0">
        <li class="text-right">
          <a class="md:p-4 py-2 block text-sky-800 hover:text-gray-200" href="/">Accueil</a>
        </li>
        <li class="text-right">
          <a class="md:p-4 py-2 block text-sky-800 hover:text-gray-200" href="/skills/">Skills</a>
        </li>
        <li class="text-right">
          <a class="md:p-4 py-2 block text-sky-800 hover:text-gray-200" href="/about/">A propos</a>
        </li>
        <li class="text-right">
          <a class="md:p-4 py-2 block text-sky-800 hover:text-gray-200" href="/contact/">Contact</a>
        </li>
      </ul>
  </div>
</div>

