---
import Navbar from './Navbar.astro';
import Hamburger from './Hamburger.astro';
---
<div aria-label="Site Header" class="fixed z-40 w-full bg-white border-b border-sky-600 mb-1 shadow-inner ">
  <div class="flex justify-between mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="w-60 max-w-full px-4 ">
      <img src="/img/logo.png" alt="logo" class="pt-4 md:pt-3 block w-40 md:w-full py-3"/>
    </div> 
    <div class="py-1 md:flex md:items-center md:gap-12 ">
      <Navbar />
      <Hamburger />
    </div>
  </div>
</div> 