---
---
<nav aria-label="navbar" class="hidden md:block pl-4 ">
  <ul class="flex gap-6 text-sm ">
    <li>
      <a class="px-1 font-medium text-lg text-sky-800 border-b-2 border-transparent hover:text-indigo-700 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 inline-block align-middle mt-2" href="/">Accueil</a>
    </li>
    <li>
      <a class="px-1 font-medium text-lg text-sky-800 border-b-2 border-transparent hover:text-indigo-700 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 inline-block align-middle mt-2" href="/skills/">Skills</a>
    </li>
    <li>
      <a class="px-1 font-medium text-lg text-sky-800 border-b-2 border-transparent hover:text-indigo-700 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 inline-block align-middle mt-2" href="/about/">A propos</a>
    </li>
    <li>
      <a class="px-1 font-medium text-lg text-sky-800 border-b-2 border-transparent hover:text-indigo-700 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 inline-block align-middle mt-2" href="/contact/">Contact</a>
    </li> 
  </ul>
</nav> 
