---
import Header from '../components/Header.astro';
import Footerpagepleine from '../components/Footerpagepleine.astro';
import Topspace from '../components/Topspace.astro';
import Bottomspace from '../components/Bottomspace.astro';
const { pageTitle } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Blog de reconversion dans le développement informatique, autoformation sur HTML5, CSS, Tailwind, Javacript, AstroJS et ReactJS">
		<title>{pageTitle}</title>
	</head>
	<body class="bg-slate-50">
		<Header />
		<Topspace />
        <slot />
		<Bottomspace />
	    <Footerpagepleine />
    <script>
		import "../scripts/menu.js";
	</script>
  </body>
</html>
